@import "frappe.css";

* {
  color: @text;
  font-size: 20px;
}

window#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

/* * { */
/*   font-family: "Noto Sans", sans-serif; */
/*   font-weight: 500; */
/*   color: rgba(255, 255, 255, 0.7); */
/*   font-size: 10px; */
/* } */
/**/
/* window#waybar { */
/*   background: rgba(10, 10, 10, 0.5); */
/* } */
/* window#waybar > box.horizontal { */
/*   padding: 0 20px; */
/* } */
/**/
/* .modules-right label { */
/*   padding: 0 5px; */
/* } */
